<style>
    @page {
        margin: 0pt;
    }
</style>

<h4>Для регистрации программной кассы необходимо представить следующие документы:</h4><p></p>
<ul style="padding-left: 15px;">
    <li>
        {contract}
    </li>
    <li>Два экземпляра заполненной и подписанной заявки на регистрацию и подключение программной кассы в СККО (на каждую регистрируемую кассу – по два экземпляра заявки);</li>
    <li>Заверенную копию свидетельства о государственной регистрации;</li>
    <li>Уведомление о присоединении к договору оферты;</li>
    <li>Два экземпляра подписанного акта приема-передачи средства контроля оператора;</li>
    <li>Оригинал доверенности (или ее заверенную копию) – при оформлении и/или получении программной кассы уполномоченным представителем;</li>
    <li>Копии документов, подтверждающие оплату следующих услуг и оборудования:
        <ul>
            {ikassa_license_text}
            <li>Регистрация программной кассы в СККО и информационное обслуживание программной кассы в СККО;</li>
            {equipment}
        </ul>
    </li>
    <li>Заполненное и подписанное заявление для получения доступа в личный кабинет по УНП и паролю</li>
</ul>