<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width">
</head>
<body style="background-color:#eee;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;color:#333;font-family:Helvetica, Arial, sans-serif;line-height:1.25;-webkit-text-size-adjust:100%;">
<table border="0" cellpadding="0" cellspacing="0" height="100%"
       width="100%" class="body-table">
    <tr>
        <td align="center" valign="top">
            <table border="0" cellpadding="20" cellspacing="0" width="600" class="outer-email-container">
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="inner-email-container"
                               style="background-color:#fff;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;">
                            <tr>
                                <td align="center" valign="top">
                                    <table border="0" cellpadding="0" cellspacing="0" height="90" width="100%"
                                           class="email-logo"
                                           style="background-color:#ffffff;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;">
                                        <tr>
                                            <td align="center" valign="middle">
                                                <a href="https://ikassa.by/"><img
                                                        src="{header_logo}"
                                                        width="264" style="padding-top:5px" alt="iKassa"/></a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <table border="0" cellpadding="0" cellspacing="0" height="1" width="100%"
                                           class="email-divider">
                                        <tr>
                                            <td align="center" valign="middle" style="background-color: #eeeeee"
                                                width="148"></td>
                                            <td align="center" valign="middle" style="background-color: #ff4835"
                                                width="70"></td>
                                            <td align="center" valign="middle" style="background-color: #ff4835"
                                                width="194"></td>
                                            <td align="center" valign="middle" style="background-color: #eeeeee"
                                                width="148"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <table border="0" cellpadding="40" cellspacing="0" height="0" width="100%"
                                           class="email-header">
                                        <tr>
                                            <td align="center" valign="middle">
                                                {header}
                                            </td><!--header end-->
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <table border="0" cellpadding="0" cellspacing="0" height="0" width="100%"
                                           class="email-content">
                                        <tr>
                                            <td align="center" valign="middle">
                                                {message}
                                            </td><!--message end-->
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <table border="0" cellpadding="30" cellspacing="0" height="0" width="100%"
                                           class="email-action"
                                           style="border-top-width:1px;border-top-style:solid;border-top-color:#eee;">
                                        <tr>
                                            <td align="center" valign="middle">
                                                {footer}
                                            </td><!--footer end-->
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="email-footer"
                               style="color:#7F7F7F;font-size:12px;">
                            <tr>
                                <td align="center" valign="top">
                                    &copy; {year} iKassa.by
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>